<div class="col s12 m6">
  <div class="card cyan darken-4">
    <div class="card-content white-text">
      <span class="card-title">{{ ctrl.hike.name }}</span><br><br>
      <p>
        Description : <br>
        {{ ctrl.hike.description }}
      </p><br>
      <p>Address : <br>
        {{ ctrl.hike.street_address }}<br>
        {{ ctrl.hike.city }}, {{ ctrl.hike.state }}
      </p><br>
      <p>Hike created by: {{ ctrl.hike.user.username }}</p>
      <p>
        Difficulty: {{ ctrl.hike.difficulty }}<br>
        Distance: {{ ctrl.hike.distance }} miles<br><br>
      </p><br>

    </div>
  </div>
</div>
