<h3 class="center">Create Hike</h3>

<div class="row">
  <div class="col s12 m6">
    <div class="card cyan darken-4">
      <div class="card-content white-text">
        <form
          class="form-labels left-side"
          validate
          ng-submit="ctrl.addHike(ctrl.user)">

          <label
            ng-click="showName = !showName"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Name</label>
          <input
            ng-show="showName"
            ng-mouseleave="showName = !showName"
            type="text"
            ng-model="ctrl.newHike.name">

          <label
            ng-click="showDescription = !showDescription"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Description</label>
          <textarea
            ng-show="showDescription"
            ng-mouseleave="showDescription = !showDescription"
            class="materialize-textarea"
            ng-model="ctrl.newHike.description"></textarea>

          <label
            ng-click="showStreet = !showStreet"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Street Address</label>
          <input
            ng-show="showStreet"
            ng-mouseleave="showStreet = !showStreet"
            type="text"
            ng-model="ctrl.newHike.street_address">

          <label
            ng-click="showCity = !showCity"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>City</label>
            <input
              ng-show="showCity"
              ng-mouseleave="showCity = !showCity"
              type="text"
              ng-model="ctrl.newHike.city">


          <label
            ng-click="showState = !showState"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>State</label>
          <input
            ng-show="showState"
            ng-mouseleave="showState = !showState"
            type="text"
            ng-model="ctrl.newHike.state">

          <label
            ng-click="showDifficulty = !showDifficulty"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Difficulty</label>
          <p
            ng-show="showDifficulty"
            ng-click="showDifficulty = !showDifficulty"
            class="range-field">
            <input
              type="range"
              id="test5"
              min="1"
              max="4"
              ng-model="ctrl.newHike.difficulty">
          </p>


          <label
            ng-click="showDistance = !showDistance"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Distance In Miles</label>
          <input
            ng-show="showDistance"
            ng-mouseleave="showDifficulty = !showDifficulty"
            type="text"
            ng-model="ctrl.newHike.distance">

          <input
            class="waves-effect deep-orange btn below "
            type="submit"
            value="Add Hike">

        </form>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card cyan darken-4">
      <div class="card-content white-text">
        <span class="card-title">{{ ctrl.newHike.name }}</span><br><br>
        <p>
          Description : <br>
          {{ ctrl.newHike.description }}
        </p><br>
        <p>Address : <br>
          {{ ctrl.newHike.street_address }}<br>
          {{ ctrl.newHike.city }}, {{ ctrl.newHike.state }}
        </p><br>
        <p>Hike created by: {{ ctrl.newHike.user.username }}</p>
        <p>
          Difficulty: {{ ctrl.newHike.difficulty }}<br>
          Distance: {{ ctrl.newHike.distance }} miles<br><br>
        </p><br>

      </div>
    </div>
  </div>

</div>
