<h3 class="center">Edit Hike</h3>
<hr>

<div class="row">
  <div class="col s12 m6">
    <div class="card cyan darken-4">
      <div class="card-content white-text">
        <form
          class="form-labels left-side"
          validate ng-submit="ctrl.editHike(ctrl.user)">

          <label
            ng-click="showName = !showName"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Name</label>
          <input
            ng-show="showName"
            ng-mouseleave="showName = !showName"
            type="text"
            ng-model="ctrl.hike.name">

          <label
            ng-click="showDescription = !showDescription"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Description</label>
          <textarea
            ng-show="showDescription"
            ng-mouseleave="showDescription = !showDescription"
            class="materialize-textarea"
            ng-model="ctrl.hike.description"></textarea>

          <label
            ng-click="showStreet = !showStreet"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Street Address</label>
          <input
            ng-show="showStreet"
            ng-mouseleave="showStreet = !showStreet"
            type="text"
            ng-model="ctrl.hike.street_address">

          <label
            ng-click="showCity = !showCity"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>City</label>
            <input
              ng-show="showCity"
              ng-mouseleave="showCity = !showCity"
              type="text"
              ng-model="ctrl.hike.city">


          <label
            ng-click="showState = !showState"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>State</label>
          <input
            ng-show="showState"
            ng-mouseleave="showState = !showState"
            type="text"
            ng-model="ctrl.hike.state">

          <label
            ng-click="showDifficulty = !showDifficulty"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Difficulty</label>
          <p
            ng-show="showDifficulty"
            ng-click="showDifficulty = !showDifficulty"
            class="range-field">
            <input
              type="range"
              id="test5"
              min="1"
              max="4"
              ng-model="ctrl.hike.difficulty">
          </p>


          <label
            ng-click="showDistance = !showDistance"
            class="waves-effect cyan darken-3 btn bottoms">
            <i class="material-icons right">mode_edit</i>Distance In Miles</label>
          <input
            ng-show="showDistance"
            ng-mouseleave="showDifficulty = !showDifficulty"
            type="text"
            ng-model="ctrl.hike.distance">

          <input
            class="waves-effect deep-orange btn below "
            type="submit"
            value="Save">

        </form>
      </div>
    </div>
  </div>

  <div ng-include="'hikes/_hikeCard.html'"></div>

</div>
