<h3 class="center">Create Hike</h3>

<div class="row">
  <div class="col s12 m6">
    <div class="card cyan darken-4">
      <div class="card-content white-text">
        <form
          class="form-labels left-side"
          validate ng-submit="ctrl.addHike(ctrl.user)">

            <div ng-include="'hikes/_form.html'"></div>

          <input
            class="waves-effect deep-orange btn below "
            type="submit"
            value="Add Hike">

        </form>
      </div>
    </div>
  </div>

  <div ng-include="'hikes/_hikeCard.html'"></div>
</div>
