<h3 class="center">Edit Group</h3>

<div class="row">
  <div class="col s12 m6">
    <div class="card cyan darken-4">
      <div class="card-content white-text">
        <form
          class="form-labels left-side"
          validate ng-submit="ctrl.editGroup(ctrl.user)">

          <div ng-include="'groups/_form.html'"></div>

          <input
            class="waves-effect deep-orange btn below "
            type="submit"
            value="Save">

        </form>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card cyan darken-4">
      <div class="card-content white-text">
        <span class="card-title">Name: {{ ctrl.group.name }}</span>
        <hr>
        <p>
          Description: <br><br>
          {{ ctrl.group.description }}
        </p>
    </div>
  </div>
</div>
