
<h3 class="center">Log In</h3>

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="card cyan darken-4">
      <div class="card-content white-text">

        <form class="form-labels auth left-side" validate ng-submit="login()">
          <div class="">
            <label>Email</email>
            <input type="email" placeholder="Email Address" ng-model="user.email">
          </div>
          <div class="">
            <label>Password</label>
            <input type="password" placeholder="Password" ng-model="user.password">
          </div>
          <div class="">
            <input type="submit" class="waves-effect deep-orange btn" value="Log In">
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
