<h1>About Trailster</h1>

<p>
  Trailster is an app that I am creating that will allow fellow active San Diegans to look for hikes in their area, and meet up with fellow hikers. There is more content that will be added as app progresses, but at the moment you can look for hikes, create hikes, find groups, create groups, and join groups. If you have any comments or recommendations email me @ <a href="mailto:lukeghenco@gmail.com">lukeghenco@gmail.com</a> . I hope you enjoy the app.
</p>

<h3>Author</h3>
<p>
  Luke Ghenco has just moved to San Diego, and has been enjoying the local hikes. He is currently looking for job as a Full Stack Web Developer. If you are interested in hiring him please contact him @ <a href="mailto:lukeghenco@gmail.com">lukeghenco@gmail.com</a>
</p>
